/*body {*/
	/*position: relative;*/
/*}*/
.page-body{
	overflow: auto;
	/* min-height: 650px; */
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.page-body .widget {
	margin: 3px 0 0px 0 !important;
}
.page-body .searchWidget{
	/*margin-top: 35px;*/
	margin-top:35px !important;
}

.page-breadcrumbs {
	vertical-align: middle !important;

}
.breadcrumb {
	vertical-align:middle !important;
	line-height:39px !important;
}
.back-blue {
	background: #5DB2FF!important;
}